In [1]:
# ----------------------------------------------------------------------
# Step 1: Import all necessary modules for analysis
# ----------------------------------------------------------------------
# import modules for analysis
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import datetime as dt

In [2]:
# ----------------------------------------------------------------------
# Step 2: Set up db connection and session
# ----------------------------------------------------------------------
# set up sqlalchemy engine
from sqlalchemy import create_engine
engine = create_engine('sqlite:///hawaii.sqlite')

# set up sqlalchemy base
from sqlalchemy.ext.automap import automap_base
Base = automap_base()
Base.prepare(engine, reflect=True)

# map classes
Station = Base.classes.stations
Measurement = Base.classes.measurements

# set up session
from sqlalchemy.orm import Session
session = Session(engine)

Precipitation Analysis

1. Design a query to retrieve the last 12 months of precipitation data.

2. Select only the date and prcp values.

3. Load the query results into a Pandas DataFrame and set the index to the date column.

4. Plot the results using the DataFrame plot method.

pd.read_sql(session.query(Complaint).filter(Complaint.id == 2).statement,session.bind)

In [13]:
# ----------------------------------------------------------------------
# Step 3: Plot 12 months of precipitation data using using DF.plot
# ----------------------------------------------------------------------
# create variables for last year date and query for readability
query = 'SELECT date, precipitation FROM measurements WHERE date > 2017-04-06'

# read query into dataframe
last_year_prec_df = pd.read_sql(query, engine)
last_year_prec_df

             date  precipitation
0      2010-01-01           0.08
1      2010-01-02           0.00
2      2010-01-03           0.00
3      2010-01-04           0.00
4      2010-01-07           0.06
5      2010-01-08           0.00
6      2010-01-09           0.00
7      2010-01-10           0.00
8      2010-01-11           0.01
9      2010-01-12           0.00
10     2010-01-14           0.00
11     2010-01-15           0.00
12     2010-01-16           0.00
13     2010-01-17           0.00
14     2010-01-18           0.00
15     2010-01-19           0.00
16     2010-01-20           0.00
17     2010-01-21           0.00
18     2010-01-22           0.00
19     2010-01-23           0.00
20     2010-01-24           0.01
21     2010-01-25           0.00
22     2010-01-26           0.04
23     2010-01-27           0.12
24     2010-01-28           0.00
25     2010-01-31           0.03
26     2010-02-01           0.01
27     2010-02-04           0.01
28     2010-02-05           0.00
29     2010-02-06           0.00
...           ...            ...
18073  2017-07-17           0.39
18074  2017-07-18           2.40
18075  2017-07-19           0.27
18076  2017-07-20           0.70
18077  2017-07-21           0.10
18078  2017-07-22           4.00
18079  2017-07-23           0.80
18080  2017-07-24           0.84
18081  2017-07-25           0.30
18082  2017-07-26           0.30
18083  2017-07-27           0.00
18084  2017-07-28           0.40
18085  2017-07-29           0.30
18086  2017-07-30           0.30
18087  2017-07-31           0.00
18088  2017-08-02           0.25
18089  2017-08-03           0.06
18090  2017-08-07           0.05
18091  2017-08-08           0.34
18092  2017-08-09           0.15
18093  2017-08-10           0.07
18094  2017-08-12           0.14
18095  2017-08-14           0.22
18096  2017-08-15           0.42
18097  2017-08-16           0.42
18098  2017-08-17           0.13
18099  2017-08-19           0.09
18100  2017-08-21           0.56
18101  2017-08-22           0.50
18102  2017-08-23           0.45

[18103 rows x 2 columns]